DATABASE_URL="postgresql://postgres:root@localhost:5432/codecircle?schema=public"

PORT=4000
NODE_ENV=development

JWT_ACCESS_SECRET="78276fdbb3d81829e2f92f69e9e9f90f23d4ce7c568f63901b8089201f3e792c"
JWT_REFRESH_SECRET="a2c98d6fa7c29e71e360f04e76d9e03d4218f6f890e21a2b3c4d5e6f7a8b9c0d"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES="7d"
COOKIE_SECURE="false" # Set to true in production
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001"